$font-primary: "Open Sans", serif;

$color-primary: #FFFFFF;
$color-secondary: #B11B26;
$color-ternary: #FFE9DC;

$text-color-dark: #1D1D1D;
$text-light-close: #8A8A8A;

$bg-color-light: #F7F7F7;
$bg-close-disable: #EEEEEE;
$bg-color-box-t: #CECECE;
