@import '../../styles/variables';


.modalContainer{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	position: relative;
	margin: 45% auto;
	padding: 1.5rem;
	width: 21.313rem;
	height: 20.688rem;
	background-color: $color-primary;
	//border: 1px solid $text-color-dark;

	.wrapperContainer{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 18.313rem;
		//border: 1px solid orange;
		position: relative;

		form{
			width: 100%;
			min-height: 13.063rem;
			height: 100%;
	

			.wrapper{
				display: flex;
				flex-direction: column;
				height: 4.188rem;
				gap: .5rem;
				margin-bottom: 1rem;
				
				label{
					font-size: 14px;
					font-weight: 400;
					line-height: 19.07px;
					

				}

				input{
					padding-left:1rem ;
					&::placeholder{
						font-size: 12px;
						font-weight: 400;
						line-height: 16.34px;
						text-align: left;
					}
				}
				input, select{
					border: 1px solid $bg-color-box-t;
					height: 2.5rem;
				}
			}
			
			.wrapperZip{
				display: flex;
				justify-content: space-between;
				width: 100%;
				gap: .2rem;
				div :nth-child(2){
					width: 100%;
					min-width: 9rem;
					
				}
			}

			button{
				position: inherit;
				top: 0;
				left: 0;
				background-color: $color-secondary;
				min-width:100%;
				border: none;

			}
		}
	}
}